*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.main{
 width: 100%;
 min-height: 380px;
 text-align:center;
 position: relative;
 cursor: pointer;
}
.service{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;

}
.service-image {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: -90px auto 0;
	background: #fff;
	border: 13px solid #673232;
}
.service-image img {
	width: 74px;
	margin-top: 20px;
	transition: transform 1s;
}


.service h4{
  height: 35px;
  width: 80%;
  background: #fff;
  margin: 50px auto;
  position: relative;


}
.service h4::after{
  content: '';
  height: 30px;
  width: 40px;
  background: linear-gradient(to right, #fff,#673232);
  margin: 8px auto;
  position: absolute;
  right: -5px;
  top:-5px;
  z-index: -1;
}
.service h4::before{
  content: '';
  height: 30px;
  width: 40px;
  background: linear-gradient(to right, #673232,#fff);
  margin: 8px auto;
  position: absolute;
  left: -5px;
  top:-5px;
  z-index: -1;
}
.shadowone{
  height: 200px;
  width:80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.shadowtwo{
  height: 200px;
  width:64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}
.main:hover .service{
  transform: translateY(-50px);
}
.main:hover .shadowone{
  transform: translateY(-25px);
}
.main:hover img{
  transform: rotate(360deg);
}
